# ---------- Autostart Configurations ----------

# Use the file below to prevent overwrites when applying upstream dotfiles
source = ~/.config/hypr/autostart.local.conf

# ------- Execs -------

# ----- Hyprland -----
exec-once = waybar
exec-once = ~/.config/hypr/scripts/gen_main_ppi.sh

# Fixes issues with firejail whitelisting by removing illegal socket name
exec-once = swww-daemon --namespace swww


# ----- Services -----
exec-once = /usr/lib/pam_kwallet_init
exec-once = /usr/bin/kwalletd6
exec-once = nm-applet --indicator
exec-once = systemctl --user start hyprpolkitagent

# ----- General -----
{{- if or (eq .chezmoi.hostname "SamsPC") (eq .chezmoi.hostname "SamsLaptop") }}
exec-once = dropbox start
{{- end }}


# ----- Audio -----
{{- if or (eq .chezmoi.hostname "SamsPC") (eq .chezmoi.hostname "SamsLaptop") }}
exec-once = sh -c "easyeffects --gapplication-service & sleep 2 && easyeffects --load-preset 'Spotify' && easyeffects --load-preset 'Voice_Isolation'"
{{- end }}


# ----- Auto Update -----
exec-once = ~/.config/hypr/scripts/update_check.sh


# ------- Systemd XDG Auto-Start Generator -------
# Disabled to avoid duplicates and ensure precision
#exec-once = dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=Hyprland
#exec-once = systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
#exec-once = systemctl --user start graphical-session.target
#exec-once = systemctl --user start xdg-desktop-autostart.target
