{{- if eq .hostname "SamsPC" -}}
# ---------- Desktop Configs ----------

# ------- Display Settings -------
monitor=DP-1, 3840x2160@240, 0x0, 1.5
monitor=DP-2, 3440x1440@144, auto, 1
monitor=HDMI-A-1, 1920x1080@60, auto, 1

# ----- Assign Workspaces -----
workspace=1, monitor:DP-1
workspace=2, monitor:DP-1
workspace=3, monitor:DP-1
workspace=4, monitor:DP-1
workspace=5, monitor:DP-1

workspace=6, monitor:DP-2
workspace=7, monitor:DP-2
workspace=8, monitor:DP-2
workspace=9, monitor:DP-2

workspace=10, monitor:HDMI-A-1


# ----- Nvidia Specific Settings -----
env = GBM_BACKEND,nvidia-drm
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia


# ----- X11 Scaling Fix -----
env = GDK_SCALE,1


{{- else if eq .hostname "SamsLaptop" -}}
# ---------- Laptop Configs ----------

# ------- Display Settings -------
monitor=eDP-1, 2880x1800@120, 0x0, 2, bitdepth, 10, cm, hdr
monitor= , preferred, auto-right, 1

# ----- Assign Workspaces -----
workspace=1, monitor:eDP-1
workspace=2, monitor:eDP-1
workspace=3, monitor:eDP-1
workspace=4, monitor:eDP-1
workspace=5, monitor:eDP-1


# ----- X11 Scaling Fix -----
env = GDK_SCALE,2


# ------- Keybindings -------
# Laptop multimedia keys for volume and LCD brightness
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindel = ,XF86MonBrightnessUp, exec, brightnessctl -e4 -n2 set 5%+
bindel = ,XF86MonBrightnessDown, exec, brightnessctl -e4 -n2 set 5%-


{{- else -}}
# Modify file below directly for display changes
source ~/.config/hypr/displays.local.conf
{{- end -}}
